package home

import (
				"PulpuVOX/pages/base"
				"PulpuVOX/pages/home/components/mock"
				"github.com/markbates/goth"
)

templ HomeStyles() {
				@Styles()
				@mock.Styles()
}

templ HomeScripts() {
				@Scripts()
				@mock.Scripts()
}

templ HomeComponents(user goth.User) {
				@mock.Mock(user)
}

templ Home(user goth.User) {
				@base.Base("PulpuVOX", HomeComponents(user), HomeStyles(), HomeScripts())
}
