# === MINIO CONFIGURATION === #
MINIO_ROOT_USER=changeme
MINIO_ROOT_PASSWORD=changeme

# === DATABASE CONFIGURATION === #
POSTGRES_USER=changeme
# --- Careful with special characters --- #
POSTGRES_PASSWORD=changeme
POSTGRES_DB=app

# === BACKEND CONFIGURATION === #
# --- Google Auth --- #
DOMAIN="http://localhost:8080"
SESSION_DURATION="12h"
GOOGLE_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
GOOGLE_SECRET="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
SESSION_SECRET="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
# --- Reverse Proxy --- #
VIRTUAL_HOST="vox.pulpudev.com"
LETSENCRYPT_HOST="vox.pulpudev.com"
# --- Backend --- #
BACKEND_PORT=8080
# --- MinIO --- #
MINIO_PORT=9000
MINIO_CONTAINER_NAME=objectstorage
# --- Postgres --- #
POSTGRES_PORT=5432
POSTGRES_IP=database
# --- Whisper --- #
WHISPER_URL=http://192.168.0.27:9000/asr
# --- Ollama --- #
OPENAI_BASE_URL=http://192.168.0.27:11434/v1
OPENAI_KEY=ollama
OPENAI_MODEL=gemma3:1b-it-qat
