# === MINIO CONFIGURATION === #
MINIO_ROOT_USER=changeme
MINIO_ROOT_PASSWORD=changeme

# === DATABASE CONFIGURATION === #
POSTGRES_USER=changeme
# --- Careful with special characters --- #
POSTGRES_PASSWORD=changeme
POSTGRES_DB=app

# === BACKEND CONFIGURATION === #
# --- Google Auth --- #
DOMAIN="http://localhost:8080"
SESSION_DURATION="12h"
GOOGLE_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
GOOGLE_SECRET="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
SESSION_SECRET="changeme"

# --- Reverse Proxy --- #
VIRTUAL_HOST="vox.pulpudev.com"
LETSENCRYPT_HOST="vox.pulpudev.com"

# --- Backend --- #
BACKEND_PORT=8080

# --- MinIO --- #
MINIO_PORT=9000
MINIO_CONTAINER_NAME=objectstorage

# --- Postgres --- #
POSTGRES_PORT=5432
POSTGRES_IP=database

# --- GROQ WHISPER --- #
WHISPER_PROVIDER=groq
WHISPER_URL=https://api.groq.com/openai/v1/audio/transcriptions
WHISPER_MODEL=distil-whisper-large-v3-en
WHISPER_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# # --- DOCKER WHISPER --- #
# WHISPER_PROVIDER=docker
# WHISPER_URL=http://192.168.0.27:9000/asr

# --- LLM Groq --- #
OPENAI_BASE_URL=https://api.groq.com/openai/v1
OPENAI_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
OPENAI_MODEL=llama-3.3-70b-versatile
# # --- LLM Ollama --- #
# OPENAI_BASE_URL=http://192.168.0.27:11434/v1
# OPENAI_KEY=ollama
# OPENAI_MODEL=gemma3:4b

# --- KittenTTS --- #
OPENAI_TTS_URL=http://192.168.0.27:8005
OPENAI_TTS_KEY=dummy-key
OPENAI_TTS_MODEL=kitten-tts
OPENAI_TTS_VOICE=expr-voice-4-f
