package landing

import (
				"PulpuVOX/pages/base"
				"PulpuVOX/pages/landing/components/mock"
)

templ LandingStyles() {
				@Styles()
				@mock.Styles()
}

templ LandingScripts() {
				@Scripts()
				@mock.Scripts()
}

templ LandingComponents() {
				@mock.Mock()
}

templ Landing() {
				@base.Base("PulpuVOX", LandingComponents(), LandingStyles(), LandingScripts())
}
