package mock

import (
	"github.com/markbates/goth"
)

templ Mock(user *goth.User) {
	<h1>Welcome { user.NickName }</h1>
	<h2>Get ready to advance your speaking skills.</h2>
	<a href="/conversation">Free Conversation</a>
	<a href="/cae">CAE (Cambridge Advanced English [C1])</a>
	<a href="/fce">FCE (First Cambridge English [B2])</a>
}
